.btn {
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
}

.btn-form {
    width: 100%;
}
.btn-signup,
.btn-login,
.btn-updateProfile,
.btn-forgotPassword {
    background-color: rgb(40, 107, 239);
}

.btn-login-out {
    background-color: rgb(244, 73, 53);
}
