.error-msg {
    background-color: rgb(244, 73, 53);
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 1em;
    border-radius: 5px;
}

.success-msg {
    background-color: rgb(153, 222, 110);
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 1em;
    border-radius: 5px;
}

.general-msg {
    background-color: rgb(174, 174, 174);
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 1em;
    border-radius: 5px;
}
