#Settings {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .settings-div-title {
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        margin-left: 1em;
        gap: 1em;
        .settings-back-arrow {
            border: none;
            font-size: 2rem;
            align-self: flex-start;
            &:hover {
                color: rgb(220, 212, 212);
                cursor: pointer;
            }
        }
        h3 {
            align-self: center;
        }
    }
}

// a {
// width: 100%;
.settings-content {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    margin-top: 2em;
    .settings-topic-container {
        // display: flex;
        // justify-content: space-between;
        padding: 1em 2em;
        border: 3px solid #000;
        border-radius: 8px;
        width: 80%;

        &:hover {
            background-color: #a99f9f;
            box-shadow: 0px 0px 5px 2px lightgrey;
            padding: 1em 2.2em;
        }

        a {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            color: #000;
        }
    }
}
// }
